Presentation.RIA.Silverlight.ServiceAgents/Service References/Proxies.ERPModule/ERPModuleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2626/ERPModuleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" />
  <xs:import schemaLocation="http://localhost:2626/ERPModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddNewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="customer" nillable="true" type="q1:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="AddNewCustomerResult" nillable="true" type="q2:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="customer" nillable="true" type="q3:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customer" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomersInPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomersInPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindCustomersInPageResult" nillable="true" type="q5:ArrayOfCustomerListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindCustomerResult" nillable="true" type="q7:CustomerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomersByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomersByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindCustomersByFilterResult" nillable="true" type="q8:ArrayOfCustomerListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountriesInPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountriesInPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindCountriesInPageResult" nillable="true" type="q9:ArrayOfCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountriesByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountriesByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindCountriesByFilterResult" nillable="true" type="q10:ArrayOfCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersInPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersInPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindOrdersInPageResult" nillable="true" type="q11:ArrayOfOrderListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindOrdersByFilterResult" nillable="true" type="q12:ArrayOfOrderListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrdersByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindOrdersByCustomerResult" nillable="true" type="q14:ArrayOfOrderListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsInPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsInPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindProductsInPageResult" nillable="true" type="q15:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindProductsByFilterResult" nillable="true" type="q16:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="order" nillable="true" type="q17:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="AddNewOrderResult" nillable="true" type="q18:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSoftware">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="software" nillable="true" type="q19:SoftwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewSoftwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="AddNewSoftwareResult" nillable="true" type="q20:SoftwareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="book" nillable="true" type="q21:BookDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="AddNewBookResult" nillable="true" type="q22:BookDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>