Presentation.RIA.Silverlight.ServiceAgents/Service References/Proxies.BankingModule/BankingModuleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2626/BankingModuleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" />
  <xs:import schemaLocation="http://localhost:2626/BankingModuleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddNewBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="bankAccount" nillable="true" type="q1:BankAccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="AddNewBankAccountResult" nillable="true" type="q2:BankAccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bankAccountId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockBankAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindBankAccountsResult" nillable="true" type="q4:ArrayOfBankAccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankAccountActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bankAccountId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankAccountActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="FindBankAccountActivitiesResult" nillable="true" type="q6:ArrayOfBankActivityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="from" nillable="true" type="q7:BankAccountDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Samples.NLayerApp.Application.MainBoundedContext.DTO" minOccurs="0" name="to" nillable="true" type="q8:BankAccountDTO" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>